@import '../../../components/ColorsAji/styles.scss';

.header-view {
    .header {
        padding: 8px 0;
        background-color: $background-header;

        .content {
            display: flex;
            flex-direction: row;
            width: $page-width;
            margin: 0 auto;

            .logo {
                padding-right: 22px;
            }
        }

    }

    .wrap-breadcrumb {
        padding: 16px 0;
        width: $page-width;
        margin: 0 auto;
    }
}