@import '../components/ColorsAji/styles.scss';

.routes {
    position: relative;
    min-height: 100%;
    width: 100%;
    background-color: $background-page;
    padding-bottom: 85px;
    display: flex;
    flex-direction: column;

    .wrap-routes {
        margin: 0px 85px;
        background-color: $white;
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}