@import '../components/ColorsAji/styles.scss';

.routes {
    position: relative;
    min-height: 100%;
    width: 100%;
    background-color: $background-page;

    .wrap-routes {
        margin: 0px 85px;
        background-color: $white;
    }
}