@import '../Theme/styles.scss';

.card-component {
    display: flex;
    flex-direction: row;
    padding: 16px 0;

    .picture {
        width: 180px;
        height: 180px;
        border-radius: 4px;
        margin: 0 16px;
    }

    .product-info {
        flex: 1;
        padding-top: 16px;
        color: $dark-grey;

        .price {
            display: flex;
            align-items: flex-end;
            font-size: 24px;
            margin-bottom: 18px;

            .free-shipping {
                padding-left: 12px;
                padding-bottom: 4px;
            }
        }

        .title, .condition {
            font-size: 18px;
        }
           
        .state {
            font-size: 12px;
            display: block;
            padding-left: 80%;
            color: $medium-grey;
        }
    }
}