@import "../ColorsAji/styles.scss";

.alert-component {
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding: 15px 20px;
    color: $white;

    &.success {
        background-color: $green;
    }

    &.error {
        background-color: $red;
    }
}