//Cores
$white: #FFF;
$black: #000;
$light-grey: #EEEEEE;
$grey: #999999;
$dark-grey: #333333;
$medium-grey: #666666;
$yellow: #FFE600;
$dark-blue: #2968c8;
$blue: #3483FA;
$red: #ff4f4f;
$green: #00b400;

$page-width: 1200px;

//Tema
$background-page: $light-grey;
$background-header: $yellow;
$input-color: $dark-grey;
$input-placeholder: $grey;