//Cores
$white: #FFF;
$black: #000;
$light-white: #E9E9E9;
$blue: #10727D;
$light-blue: #81B0B5;
$second-blue: #00E5FF;
$grey: #6B6B6B;
$light-grey: #858585;
$white-grey: #CECECE;
$grey-transparent: #6b6b6b9c;
$red: #ff4f4f;
$green: #00b400;
$grey-white: #CCCCCC;
$grey-medium: #747474;
$white-blue: #CAEDF1;

//Tema
$primary: $blue;
$primary-color: $light-blue;
$sidebar: $grey;
$sidebar-menu: $light-grey;
$sidebar-button-txt: $white-grey;
$title: $second-blue;
$form-invalid: $red;
$grey-card: #F6F6F6;

$form-grey-color: $light-grey;
$form-grey-border: $grey-white;

$width-sidebar: 400px;
$height-sidebar: 100%;

$height-header: 110px;