@import "../ColorsAji/styles.scss";

.empty-search-component {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .message {
        font-size: 24px;
    }

    .tips {
        font-size: 16px;
        color: $medium-grey;
    }
}