@import "../ColorsAji/styles.scss";

.msg-sem-resultado-component {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mensagem {
        font-size: 24px;
    }

    .info-adicional {
        font-size: 16px;
        color: $medium-grey;
    }
}