@import './components/ColorsAji/styles.scss';
@import './components/IconsAji/styles';
@import './fonts/avenir/avenir.scss';

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1, h2, h3, h4, h5, h6, span, div, label, input, select, a, button {
  font-family: 'Avenir Next Rounded Std';
}

h1, h2, h3, h4, h5, h6 {
  color: $title;
  text-transform: uppercase;
}
