@import '../../../components/ColorsAji/styles.scss';

.login-view {
    display: flex;
    flex: 1;

    .img-de-fundo {
        flex-grow: 1;
        background-repeat: no-repeat!important;
        background-size: cover !important;

        .wrap-logo {
            background: $grey-transparent;
            margin-top: 150px;

            .img-logo {
                width: 180px;
                display: block;
                margin: 0 auto;
                padding: 30px;
            }
        }

        .wrap-resume {
            background: $grey-transparent;
            padding: 30px;
            width: 400px;
            margin: 30px;
            position: absolute;
            bottom: 0;
            right: 0;
            color: $second-blue;

            p {
                margin: 0;
                margin-bottom: 30px;
            }
        }
    }
}